<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Namagic - Batch renaming reloaded for Mac OS X</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,600" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style><%- css %></style>
    <link href="images/favicon.png?v1" rel="icon">
  </head>
	<body class="js-loading">
    <div class="wrapper js-wrapper" style="opacity: 0">
      <div class="header js-header">
        <video class="js-video" autoplay loop poster="images/background.jpg">
          <source src="video/background.webm" type="video/webm">
          <source src="video/background.mp4" type="video/mp4">
        </video>
        <div class="content js-header-content">
          <h1>
            <strong>Namagic</strong> – Batch renaming reloaded for Mac OS X
          </h1>
          <a target="_blank" href="https://itunes.apple.com/us/app/namagic/id985710846?l=fr&ls=1&mt=12" class="mas js-track" data-track="viewAppStore">
            Available on the Mac App Store
          </a>
          <a target="_blank" href="https://github.com/johansatge/namagic" class="github js-track" data-track="viewGitHub">
            Available on GitHub
          </a>
        </div>
        <a href="#content" class="js-scrollable">
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
      <div class="menu js-menu">
        <div class="links">
          <a class="js-scrollable" href="#features">
            Features
          </a>
          <a class="js-scrollable" href="#support">
            Support
          </a>
          <a href="https://itunes.apple.com/us/app/namagic/id985710846?l=fr&ls=1&mt=12" class="js-track" data-track="viewAppStore" target="_blank">
            Mac App Store
          </a>
          <a href="https://github.com/johansatge/namagic" class="js-track" data-track="viewGitHub" target="_blank">
            Source code
          </a>
        </div>
      </div>
      <div class="menu-placeholder js-menu-placeholder"></div>
      <div id="content" class="section">
        <div class="inside">
          <p class="emphasis">
            Namagic is a batch renaming software that allows you to manage your files in a brand new way.
            It provides a flexible solution, whether it is used to rename a few vacation pictures,
            or work with hundred of files and several operations.
          </p>
        </div>
      </div>
      <a class="anchor" id="features"></a>
      <h3>
        Features
      </h3>
      <div class="section">
        <div class="inside">
           <div class="col2 valign image left">
            <img src="images/screenshot-02.png">
          </div>
          <div class="col2 valign text right">
            <h4>
              <i class="fa fa-text-width"></i>
              Flexible selection of text
            </h4>
            <p>
              Select the part of the filenames you want to edit by using one of the providden modes:
              free text, list of characters, range of text, or even regular expressions...
            </p>
            <a target="_blank" class="more js-track" href="https://github.com/johansatge/namagic/blob/master/userguide/available_selection_modes.md" data-track="viewSelectionModes">
              <i class="fa fa-font"></i>
              View available selection modes
            </a>
          </div>
        </div>
      </div>
       <div class="section">
        <div class="inside">
          <div class="col2 valign text left">
            <h4>
              <i class="fa fa-floppy-o"></i>
              Lightning-fast renaming
            </h4>
            <p>
              Renaming process will not give you enough time to get a coffee. Click on the Apply button,
              select your destination folder (on most cases, the same as your source files)
              and let the magic happen !
            </p>
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <i class="fa fa-bar-chart"></i>
                  100 files
                </td>
                <td>110ms</td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-bar-chart"></i>
                  1000 files
                </td>
                <td>1100ms</td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-bar-chart"></i>
                  10 000 files
                </td>
                <td>
                  11,1s
                </td>
              </tr>
            </table>
            <span class="table-caption">
              Benchmark performed on a Macbook 1,7 GHz Intel Core i7
            </span>
          </div>
          <div class="col2 valign right image">
            <img class="bottom" src="images/screenshot-04.png">
          </div>
        </div>
      </div>
      <div class="section">
        <div class="inside">
          <div class="col2 valign left image">
            <img class="bottom" src="images/screenshot-03.png">
          </div>
          <div class="col2 valign text right">
            <h4>
              <i class="fa fa-rocket"></i>
              Powerful actions
            </h4>
            <p>
              Use the available actions to modify the part of the filename that you have selected.
              You may want to remove it from the filename or append new text, a sequence of digits or the creation date of the file...<br>
            </p>
            <a target="_blank" class="more js-track" href="https://github.com/johansatge/namagic/blob/master/userguide/available_actions.md"  data-track="viewActions">
              <i class="fa fa-cogs"></i>
              View available actions
            </a>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="inside">
          <div class="col2 valign text left">
            <h4>
              <i class="fa fa-lightbulb-o"></i>
              Infinite workflows
            </h4>
            <p>
              Unlike other existing solutions, Namagic does not provide a static list of features,
              but small and flexible bricks.<br>
              Selection of text and actions can be chained, so it is up to you to add and configure them the way you want,
              to create tailor-made new names for your files.<br>
              Do you need to remove one part of your filenames,
              change the case of another, and replace a third by the creation date of the file ? Possibilities are endless.
            </p>
            <a class="more js-track" href="https://github.com/johansatge/namagic/tree/master/userguide"  data-track="viewDocumentation">
              <i class="fa fa-question-circle"></i>
              View documentation
            </a>
          </div>
          <div class="col2 valign image right">
            <img src="images/screenshot-01.png">
          </div>
        </div>
      </div>
      <a class="anchor" id="support"></a>
      <h3>
        Support
      </h3>
      <div class="section">
        <div class="inside">
          <div class="col2 left short text">
            <h4 class="centered">
              <i class="fa fa-life-ring"></i>
              Help and questions
            </h4>
            <p>
              Need help ?<br>
              Most frequent questions have an answer on the online documentation.
            </p>
            <p>
              Can't find what you were looking for ?<br>
              Have a private enquiry ?<br>
              You can contact the developer directly.
            </p>
          </div>
          <div class="col2 right short text">
            <h4 class="centered">
              <i class="fa fa-bug"></i>
              Bugs and feedback
            </h4>
            <p>
              Want to report something broken or share your thoughts ? The support platform is open, and updated regularly.
            </p>
            <p>
              You can publish bug reports or ask for a new feature; if relevant, it will be added to the development roadmap.
            </p>
          </div>
        </div>
        <div class="inside">
          <div class="col3">
            <span>
              <i class="fa fa-question"></i>
            </span>
            <a target="_blank" href="https://github.com/johansatge/namagic/tree/master/userguide" class="js-track" data-track="viewDocumentation">
              Online documentation
            </a>
          </div>
          <div class="col3">
            <span>
              <i class="fa fa-bug"></i>
            </span>
            <a target="_blank" href="https://github.com/johansatge/namagic/issues" class="js-track" data-track="viewIssues">
               Issues &amp; features platform
            </a>
          </div>
          <div class="col3">
            <span>
              <i class="fa fa-envelope-o"></i>
            </span>
            <a target="_blank" href="mailto:support@namagicapp.com" class="js-track" data-track="contactDeveloper">
              Contact the developer
            </a>
          </div>
        </div>
      </div>
      <div class="footer">
        Copyright © 2015 Johan Satgé. All rights reserved.
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script><%- js %></script>
    <script>
      jQuery(document).ready(function($)
      {
        Main.init();
      });
    </script>
  </body>
</html>
