.footer
{
    position    : relative;
    width       : 100%;
    float       : left;
    background  : #f3f3f3;
    overflow-y  : hidden;
    color       : #999999;
    font-weight : 400;
    font-size   : 13px;
    font-family : "Open Sans", sans-serif;
    text-align  : center;
    padding     : 60px 15px 60px 15px;
    box-sizing  : border-box;
}