.section
{
    position      : relative;
    float         : left;
    clear         : both;
    width         : 862px;
    left          : 50%;
    margin        : 0 0 0 -431px;
    box-sizing    : border-box;
    border-bottom : 1px solid #dfdfdf;
    padding       : 20px 0 0 0;

    @media screen and (max-width : 880px) {
        width  : 90%;
        margin : 0 0 0 5%;
        left   : 0;
    }

    h3
    {
        position    : relative;
        color       : #896d9f;
        text-align  : center;
        font-weight : 600;
        font-size   : 44px;
        font-family : "Open Sans Condensed", sans-serif;
        margin      : 0 0 20px 0;
    }

    .caption
    {
        position : relative;

        img
        {
            position : relative;
            z-index  : 1;
            width    : 100%;
        }

        .overlay
        {
            display    : none;
            z-index    : 2;
            position   : absolute;
            background : rgba(137, 109, 159, 0.50);

            &:after
            {
                content     : '\f06e';
                font-size   : 34px;
                position    : absolute;
                color       : #ffffff;
                font-family : "FontAwesome", sans-serif;
                top         : 50%;
                left        : 50%;
                margin      : -17px 0 0 -17px;
            }
        }

    }

    .block
    {
        background    : linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
        box-sizing    : border-box;
        border-radius : 5px;
        border        : 1px solid #e2e2e2;
        box-shadow    : inset 0 1px 0 #ffffff;
        padding       : 10px 15px 15px 15px;
    }

    .full
    {
        width  : 100%;
        float  : left;
        margin : 0 0 20px 0;
    }

    .half
    {
        width  : 49%;
        float  : left;
        margin : 0 0 20px 0;

        &.left
        {
            margin-right : 2%;
        }

        @media screen and (max-width : 600px) {
            width : 100%;

            &.left
            {
                margin-right : 0;
            }
        }

    }

    .clear
    {
        width : 100%;
        clear : both;
    }

    h4
    {
        color       : #896d9f;
        font-weight : 600;
        font-size   : 23px;
        font-family : "Open Sans Condensed", sans-serif;
        margin      : 0 0 6px 0;

        & i
        {
            font-size  : 21px;
            float      : right;
            margin     : 5px 0 0 0;
            color      : #cccccc;
            cursor     : pointer;
            transition : color 150ms;

            &:hover
            {
                color : #333333;
            }
        }
    }

    p
    {
        color       : #333333;
        font-size   : 14px;
        line-height : 23px;
        font-family : "Open Sans", sans-serif;
        text-align  : justify;

        &.emphasis
        {
            font-size   : 20px;
            line-height : 32px;
            margin      : 0 0 10px 0;

            &:before
            {
                font-size   : 24px;
                color       : #cccccc;
                font-family : "FontAwesome", sans-serif;
                content     : '\f10d';
                display     : block;
            }

            &:after
            {
                font-size   : 24px;
                color       : #cccccc;
                font-family : "FontAwesome", sans-serif;
                content     : '\f10e';
                display     : block;
                text-align  : right;
            }
        }

        i
        {
            color     : #515151;
            font-size : 12px;
            margin    : 0 4px 0 4px;
        }

        strong
        {
            color       : #896d9f;
            font-weight : 600;
            display     : inline-block;
            width       : 170px;
        }
    }

    hr
    {
        width      : 100%;
        height     : 1px;
        border     : 0;
        background : #ffffff;
    }

}
