/* line 1, ../sass/_reset.scss */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, h4, h5, table, tbody, tr, td, label, button, ul, li, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../sass/_reset.scss */
html {
  overflow-x: hidden;
}

/* line 16, ../sass/_reset.scss */
a,
a:visited {
  text-decoration: none;
}

/* line 1, ../sass/_header.scss */
.js-fixed-menu .header {
  margin: 0 0 61px 0;
}

/* line 6, ../sass/_header.scss */
.header {
  float: left;
  position: relative;
  color: #ffffff;
  width: 100%;
  background: #222222;
  padding: 180px 0 85px 0;
  overflow: hidden;
}
/* line 16, ../sass/_header.scss */
.header:after {
  top: 0;
  content: ' ';
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
}
/* line 29, ../sass/_header.scss */
.header video {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background: url(images/background.jpg) no-repeat center center;
  background-size: cover;
}
/* line 39, ../sass/_header.scss */
.header h2 {
  position: relative;
  z-index: 4;
  font-weight: 300;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  margin: 0 20px 80px 20px;
}
/* line 51, ../sass/_header.scss */
.header h2 strong {
  font-weight: 600;
}
/* line 57, ../sass/_header.scss */
.header a {
  position: relative;
  z-index: 4;
  left: 50%;
  margin: 0 0 0 -105px;
  display: block;
  width: 210px;
  height: 60px;
  background: #000000 url(images/mas.png) no-repeat;
  overflow: hidden;
  text-indent: -500px;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}
/* line 73, ../sass/_header.scss */
.header a:hover {
  box-shadow: 0 0 18px #ffffff;
}

/* line 2, ../sass/_menu.scss */
.js-fixed-menu .menu {
  position: fixed;
  top: 0;
  z-index: 100;
}

/* line 9, ../sass/_menu.scss */
.menu {
  float: left;
  width: 100%;
  background: #000000 url(images/icon.png) no-repeat 18px 10px;
  font-weight: 300;
  font-size: 28px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0 0 20px 0;
}
@media screen and (max-width: 700px) {
  /* line 9, ../sass/_menu.scss */
  .menu {
    padding: 0 0 8px 0;
  }
}
/* line 23, ../sass/_menu.scss */
.menu h1 {
  position: absolute;
  font-size: 28px;
  color: #ffffff;
  margin: 18px 0 0 65px;
  line-height: 22px;
}
/* line 31, ../sass/_menu.scss */
.menu h1 a {
  font-size: 11px;
  float: right;
  margin: 7px 0 0 10px;
  color: #000000;
  background: #222222;
  display: inline-block;
  line-height: 8px;
  padding: 4px 5px 4px 3px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 150ms;
}
/* line 45, ../sass/_menu.scss */
.menu h1 a:hover {
  background: #ffffff;
}
/* line 52, ../sass/_menu.scss */
.menu .links {
  float: right;
  line-height: 22px;
  margin: 19px 10px 0 0;
}
/* line 58, ../sass/_menu.scss */
.menu .links a {
  position: relative;
  color: #cccccc;
  margin: 0 10px 0 0;
  transition: color 300ms;
  text-align: right;
}
/* line 66, ../sass/_menu.scss */
.menu .links a:hover {
  color: #ffffff;
}
/* line 71, ../sass/_menu.scss */
.menu .links a:after {
  display: block;
  opacity: 0;
  content: ' ';
  width: 100%;
  height: 1px;
  margin-top: 18px;
  background: #ffffff;
  transition: margin-top 150ms, opacity 150ms;
  position: absolute;
  left: 0;
}
/* line 85, ../sass/_menu.scss */
.menu .links a:hover:after {
  opacity: 0.3;
  margin-top: 7px;
}
@media screen and (max-width: 700px) {
  /* line 58, ../sass/_menu.scss */
  .menu .links a {
    float: right;
    clear: both;
    margin: 0 10px 10px 0;
  }
}

/* line 1, ../sass/_section.scss */
.section {
  position: relative;
  width: 100%;
  float: left;
  background: linear-gradient(to bottom, #fafafa, #f3f3f3);
  overflow-y: hidden;
}
/* line 9, ../sass/_section.scss */
.section .centered {
  position: relative;
  float: left;
  clear: both;
  width: 862px;
  left: 50%;
  margin: 0 0 0 -431px;
  box-sizing: border-box;
}
/* line 20, ../sass/_section.scss */
.section .col {
  position: relative;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
/* line 28, ../sass/_section.scss */
.section .col.text {
  padding: 30px;
  background: #ff99ff;
}
/* line 34, ../sass/_section.scss */
.section .col.left {
  left: 0;
}
/* line 38, ../sass/_section.scss */
.section .col.left img {
  margin-left: -431px;
}
/* line 44, ../sass/_section.scss */
.section .col.right {
  right: 0;
}
/* line 49, ../sass/_section.scss */
.section .col.image {
  max-height: 400px;
}
/* line 53, ../sass/_section.scss */
.section .col.image.bottom img {
  margin-top: -234px;
}
/* line 60, ../sass/_section.scss */
.section .emphasis {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  line-height: 32px;
  margin: 40px 0 40px 0;
}
/* line 69, ../sass/_section.scss */
.section .emphasis:before {
  font-size: 24px;
  color: #cccccc;
  font-family: "FontAwesome", sans-serif;
  content: '\f10d';
  display: block;
}
/* line 78, ../sass/_section.scss */
.section .emphasis:after {
  font-size: 24px;
  color: #cccccc;
  font-family: "FontAwesome", sans-serif;
  content: '\f10e';
  display: block;
  text-align: right;
}
/* line 89, ../sass/_section.scss */
.section h4 {
  color: #896d9f;
  font-weight: 600;
  font-size: 23px;
  font-family: "Open Sans Condensed", sans-serif;
}
/* line 97, ../sass/_section.scss */
.section p {
  color: #333333;
  font-size: 14px;
  line-height: 23px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
/* line 105, ../sass/_section.scss */
.section p i {
  color: #515151;
  font-size: 12px;
  margin: 0 4px 0 4px;
}

/*.section
{
    position      : relative;
    float         : left;
    clear         : both;
    width         : 862px;
    left          : 50%;
    margin        : 0 0 0 -431px;
    box-sizing    : border-box;
    border-bottom : 1px solid #dfdfdf;
    padding       : 20px 0 0 0;

    @media screen and (max-width : 880px) {
        width  : 90%;
        margin : 0 0 0 5%;
        left   : 0;
    }

    h3
    {
        position    : relative;
        color       : #896d9f;
        text-align  : center;
        font-weight : 600;
        font-size   : 44px;
        font-family : "Open Sans Condensed", sans-serif;
        margin      : 0 0 30px 0;
    }

    .caption
    {
        position : relative;
        margin   : 0 0 10px 0;

        img
        {
            position : relative;
            z-index  : 1;
            width    : 100%;
        }

        .overlay
        {
            display    : none;
            z-index    : 2;
            position   : absolute;
            background : rgba(137, 109, 159, 0.50);

            &:after
            {
                content     : '\f06e';
                font-size   : 34px;
                position    : absolute;
                color       : #ffffff;
                font-family : "FontAwesome", sans-serif;
                top         : 50%;
                left        : 50%;
                margin      : -17px 0 0 -17px;
            }
        }
    }

    .special-link
    {
        font-family   : "Open Sans", sans-serif;
        font-weight   : 600;
        color         : #896d9f;
        background    : #fafafa;
        display       : block;
        text-align    : center;
        margin        : 6px 0 0 0;
        padding       : 6px 5px 6px 5px;
        transition    : background-color 150ms;
        font-size     : 14px;
        border-radius : 5px;

        &:hover
        {
            background : #f0f0f0;
        }

        & i
        {
            font-size : 17px;
            margin    : 0 5px 0 0;
        }
    }

    .columns
    {
        position : relative;
        width    : 100%;
        float    : left;
        clear    : both;
    }

    .block
    {
        background    : #fafafa;
        box-sizing    : border-box;
        border-radius : 5px;
        padding       : 10px 15px 15px 15px;
    }

    .full
    {
        width  : 100%;
        float  : left;
        margin : 0 0 20px 0;
    }

    .half
    {
        width  : 49%;
        float  : left;
        margin : 0 0 20px 0;

        &.left
        {
            margin-right : 2%;
        }

        &.left.image img
        {
            left : 25%;
        }

        &.image
        {
            height : 100%;
            height : 240px;

            img
            {
                position      : absolute;
                top           : 50%;
                left          : 75%;
                margin        : -130px 0 0 -120px;
                border-radius : 50%;
            }
        }

        @media screen and (max-width : 600px) {
            width : 100%;

            &.left
            {
                margin-right : 0;
            }
        }

    }

    h4
    {
        color       : #896d9f;
        font-weight : 600;
        font-size   : 23px;
        font-family : "Open Sans Condensed", sans-serif;
        margin      : 0 0 6px 0;

        & i
        {
            font-size  : 21px;
            float      : right;
            margin     : 5px 0 0 0;
            color      : #cccccc;
            cursor     : pointer;
            transition : color 150ms;

            &:hover
            {
                color : #333333;
            }
        }
    }

    p
    {
        color       : #333333;
        font-size   : 14px;
        line-height : 23px;
        font-family : "Open Sans", sans-serif;
        text-align  : justify;

        &.emphasis
        {
            font-size   : 20px;
            line-height : 32px;
            margin      : 0 0 10px 0;

            &:before
            {
                font-size   : 24px;
                color       : #cccccc;
                font-family : "FontAwesome", sans-serif;
                content     : '\f10d';
                display     : block;
            }

            &:after
            {
                font-size   : 24px;
                color       : #cccccc;
                font-family : "FontAwesome", sans-serif;
                content     : '\f10e';
                display     : block;
                text-align  : right;
            }
        }

        i
        {
            color     : #515151;
            font-size : 12px;
            margin    : 0 4px 0 4px;
        }

        a
        {
            color       : #896d9f;
            font-weight : 600;
        }

        strong
        {
            color       : #896d9f;
            font-weight : 600;
            display     : inline-block;
            width       : 170px;
        }
    }

    hr
    {
        width      : 100%;
        height     : 1px;
        border     : 0;
        background : #ffffff;
    }

}
*/
/* line 1, ../sass/_footer.scss */
.footer {
  border: 0;
  color: #bdbdbd;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 60px 15px 60px 15px;
}
