/* line 1, ../sass/_reset.scss */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, h4, h5, table, tbody, tr, td, label, button, ul, li, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../sass/_reset.scss */
html {
  overflow-x: hidden;
  background: #fafafa;
}

/* line 17, ../sass/_reset.scss */
body {
  float: left;
}

/* line 22, ../sass/_reset.scss */
a,
a:visited {
  text-decoration: none;
  outline: 0;
}

/* line 29, ../sass/_reset.scss */
::selection {
  background: #b893d6;
  color: #ffffff;
}

/* line 35, ../sass/_reset.scss */
body.js-loading {
  overflow: hidden;
}
/* line 39, ../sass/_reset.scss */
body.js-loading:after {
  color: #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '\f013';
  display: block;
  font-size: 40px;
  font-family: "FontAwesome", serif;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 1, ../sass/_header.scss */
.header {
  float: left;
  z-index: 1;
  position: relative;
  color: #ffffff;
  width: 100%;
  background: #222222;
  overflow: hidden;
}
/* line 11, ../sass/_header.scss */
.header .content {
  position: relative;
}
/* line 16, ../sass/_header.scss */
.header:after {
  top: 0;
  content: ' ';
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
}
/* line 29, ../sass/_header.scss */
.header video {
  position: absolute;
  top: 0;
  z-index: 2;
  background: url(images/background.jpg) no-repeat center center;
  background-size: cover;
}
/* line 38, ../sass/_header.scss */
.header h1 {
  position: relative;
  z-index: 4;
  font-weight: 300;
  font-size: 54px;
  line-height: 78px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  margin: 0 0 80px 0;
  width: 60%;
  left: 20%;
}
@media screen and (max-width: 700px) {
  /* line 38, ../sass/_header.scss */
  .header h1 {
    width: 90%;
    left: 5%;
  }
}
/* line 57, ../sass/_header.scss */
.header h1 strong {
  font-weight: 400;
}
/* line 63, ../sass/_header.scss */
.header .mas {
  position: relative;
  z-index: 4;
  left: 50%;
  margin: 0 0 70px -105px;
  display: block;
  width: 210px;
  height: 60px;
  background: #ffffff url(images/mas-white.png) no-repeat;
  overflow: hidden;
  text-indent: -500px;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  transition: box-shadow 300ms;
}
/* line 79, ../sass/_header.scss */
.header .mas:hover {
  box-shadow: 0 0 18px #ffffff;
}
/* line 85, ../sass/_header.scss */
.header i {
  position: absolute;
  bottom: 20px;
  z-index: 4;
  left: 50%;
  color: #ffffff;
  font-size: 60px;
  margin: 0 0 0 -19px;
  animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  transition: text-shadow 300ms;
}
/* line 100, ../sass/_header.scss */
.header i:hover {
  text-shadow: 0 0 18px #ffffff;
}
@keyframes bounce {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 25px;
  }
}
@-moz-keyframes bounce /* Firefox */ {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 25px;
  }
}
@-webkit-keyframes bounce /* Safari and Chrome */ {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 25px;
  }
}
@-o-keyframes bounce /* Opera */ {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 25px;
  }
}
/* line 1, ../sass/_menu.scss */
.menu-placeholder {
  position: relative;
  width: 100%;
  float: left;
  background: #ff99ff;
}

/* line 9, ../sass/_menu.scss */
.menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: url(images/icon.png) no-repeat 18px 10px, linear-gradient(to bottom, #181818, #060606);
  font-weight: 300;
  font-size: 28px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0 0 20px 0;
  box-shadow: inset 0 1px 0 #222222;
}
@media screen and (max-width: 700px) {
  /* line 9, ../sass/_menu.scss */
  .menu {
    padding: 0 0 8px 0;
  }
}
/* line 25, ../sass/_menu.scss */
.menu .links {
  float: right;
  line-height: 22px;
  margin: 19px 10px 0 0;
}
/* line 31, ../sass/_menu.scss */
.menu .links a {
  position: relative;
  color: #cccccc;
  margin: 0 10px 0 0;
  transition: color 300ms, text-shadow 300ms;
  text-align: right;
}
/* line 39, ../sass/_menu.scss */
.menu .links a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.71);
}
@media screen and (max-width: 700px) {
  /* line 31, ../sass/_menu.scss */
  .menu .links a {
    float: right;
    clear: both;
    margin: 0 10px 10px 0;
  }
}

/* line 3, ../sass/_section.scss */
h3 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin: 60px 0 35px 0;
  color: #896d9f;
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  font-family: "Open Sans Condensed", sans-serif;
}

/* line 17, ../sass/_section.scss */
.anchor {
  float: left;
  width: 100%;
  clear: both;
}

/* line 24, ../sass/_section.scss */
.section {
  position: relative;
  width: 100%;
  float: left;
  background: linear-gradient(to bottom, #fafafa, #f3f3f3);
  overflow: hidden;
}
/* line 32, ../sass/_section.scss */
.section .emphasis {
  position: relative;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  line-height: 32px;
  margin: 80px 20px 80px 20px;
}
@media screen and (max-width: 880px) {
  /* line 32, ../sass/_section.scss */
  .section .emphasis {
    margin-top: 50px;
  }
}
/* line 46, ../sass/_section.scss */
.section .emphasis:before {
  font-size: 24px;
  color: #cccccc;
  font-family: "FontAwesome", sans-serif;
  content: '\f10d';
  display: block;
}
/* line 55, ../sass/_section.scss */
.section .emphasis:after {
  font-size: 24px;
  color: #cccccc;
  font-family: "FontAwesome", sans-serif;
  content: '\f10e';
  display: block;
  text-align: right;
}
/* line 66, ../sass/_section.scss */
.section .inside {
  position: relative;
  float: left;
  clear: both;
  width: 862px;
  left: 50%;
  margin: 0 0 0 -431px;
  box-sizing: border-box;
}
@media screen and (max-width: 880px) {
  /* line 66, ../sass/_section.scss */
  .section .inside {
    width: 90%;
    margin: 0 0 0 5%;
    left: 0;
    padding: 30px 0 0 0;
  }
}
/* line 84, ../sass/_section.scss */
.section .col3 {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  padding: 0 10px 0 10px;
}
@media screen and (max-width: 600px) {
  /* line 84, ../sass/_section.scss */
  .section .col3 {
    width: 100%;
  }
}
/* line 96, ../sass/_section.scss */
.section .col3 span {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  left: 50%;
  margin: 30px 0 30px -75px;
  background: #e7e7e7;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  /* line 96, ../sass/_section.scss */
  .section .col3 span {
    margin-top: 0;
  }
}
/* line 111, ../sass/_section.scss */
.section .col3 span i {
  color: #ffffff;
  font-size: 60px;
  margin-top: 45px;
  transition: font-size 150ms, margin-top 150ms;
}
/* line 120, ../sass/_section.scss */
.section .col3:hover span i {
  font-size: 80px;
  margin-top: 34px;
}
/* line 126, ../sass/_section.scss */
.section .col3 a {
  display: inline-block;
  font-size: 13px;
  margin: 0 0 20px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  background: linear-gradient(to bottom, rgba(239, 244, 246, 0.5), rgba(216, 216, 216, 0.5));
  border: 1px solid #bbbbbb;
  text-align: center;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
  padding: 8px 10px 8px 10px;
  transition: background-color 300ms;
  border-radius: 5px;
}
/* line 142, ../sass/_section.scss */
.section .col3 a:active {
  background: linear-gradient(to top, rgba(239, 244, 246, 0.5), rgba(216, 216, 216, 0.5));
}
/* line 149, ../sass/_section.scss */
.section .col2 {
  position: relative;
  width: 49.5%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin: -10px 0 0 0;
}
@media screen and (max-width: 600px) {
  /* line 149, ../sass/_section.scss */
  .section .col2 {
    width: 100%;
    margin: 0 0 30px 0;
  }
  /* line 162, ../sass/_section.scss */
  .section .col2 img {
    width: 100%;
  }
}
/* line 168, ../sass/_section.scss */
.section .col2.valign {
  vertical-align: middle;
}
/* line 173, ../sass/_section.scss */
.section .col2.text {
  padding: 80px 30px 80px 30px;
}
/* line 177, ../sass/_section.scss */
.section .col2.text.short {
  padding: 10px 30px 10px 30px;
}
@media screen and (max-width: 600px) {
  /* line 173, ../sass/_section.scss */
  .section .col2.text {
    width: 100%;
    padding: 0 30px 0 30px;
  }
}
/* line 188, ../sass/_section.scss */
.section .col2.left {
  left: 0;
}
/* line 192, ../sass/_section.scss */
.section .col2.left img {
  float: right;
}
@media screen and (max-width: 600px) {
  /* line 192, ../sass/_section.scss */
  .section .col2.left img {
    float: none;
  }
}
/* line 201, ../sass/_section.scss */
.section .col2.right {
  right: 0;
}
/* line 206, ../sass/_section.scss */
.section .col2.image {
  margin: 0;
  max-height: 400px;
}
/* line 211, ../sass/_section.scss */
.section .col2.image .bottom {
  margin-top: -150px;
}
@media screen and (max-width: 600px) {
  /* line 206, ../sass/_section.scss */
  .section .col2.image {
    max-height: none;
  }
  /* line 219, ../sass/_section.scss */
  .section .col2.image .bottom {
    margin-top: 0;
  }
}
/* line 226, ../sass/_section.scss */
.section .col2 h4 {
  color: #333333;
  font-weight: 600;
  font-size: 26px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 0 20px 0;
}
/* line 234, ../sass/_section.scss */
.section .col2 h4 i {
  color: #896d9f;
  display: block;
  margin: 0 0 20px 0;
  font-size: 30px;
}
/* line 243, ../sass/_section.scss */
.section .col2 p {
  color: #333333;
  font-size: 15px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-weight: 400;
  margin: 0 0 30px 0;
}
/* line 253, ../sass/_section.scss */
.section .col2 p a,
.section .col2 p a:visited {
  color: #896d9f;
}
/* line 260, ../sass/_section.scss */
.section .col2 table {
  width: 70%;
  background: linear-gradient(to bottom, rgba(239, 244, 246, 0.5), rgba(216, 216, 216, 0.5));
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
  margin: 0 0 5px 0;
}
@media screen and (max-width: 880px) {
  /* line 260, ../sass/_section.scss */
  .section .col2 table {
    width: 100%;
  }
}
/* line 273, ../sass/_section.scss */
.section .col2 table td {
  padding: 8px 10px 8px 10px;
  color: #666666;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #bbbbbb;
  box-shadow: 0 1px 0 #ffffff;
}
/* line 284, ../sass/_section.scss */
.section .col2 table i {
  color: #999999;
  margin: 0 4px 0 0;
}
/* line 290, ../sass/_section.scss */
.section .col2 table tr:last-child td {
  border-bottom: none;
  box-shadow: none;
}
/* line 296, ../sass/_section.scss */
.section .col2 table td:last-child {
  text-align: right;
}
/* line 302, ../sass/_section.scss */
.section .col2 .table-caption {
  color: #666666;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/* line 310, ../sass/_section.scss */
.section .col2 .more {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333333;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(239, 244, 246, 0.5), rgba(216, 216, 216, 0.5));
  border: 1px solid #bbbbbb;
  text-align: center;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
  padding: 8px 10px 8px 10px;
  transition: background-color 300ms;
  font-size: 13px;
  border-radius: 5px;
}
/* line 325, ../sass/_section.scss */
.section .col2 .more:active {
  background: linear-gradient(to top, rgba(239, 244, 246, 0.5), rgba(216, 216, 216, 0.5));
}
/* line 330, ../sass/_section.scss */
.section .col2 .more i {
  font-size: 12px;
  margin: 0 5px 0 0;
}
/* line 337, ../sass/_section.scss */
.section .col2 .centered {
  text-align: center;
}

/* line 1, ../sass/_footer.scss */
.footer {
  position: relative;
  width: 100%;
  float: left;
  background: #f3f3f3;
  overflow-y: hidden;
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 40px 15px 60px 15px;
  box-sizing: border-box;
}
/* line 16, ../sass/_footer.scss */
.footer img {
  margin: 0 0 10px 0;
}
